/**
 * 共通部品
 *
 * @format
 */

html {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.08em;
}
/* ここから記述します。 */

.u-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 100px;
}

@media screen and (max-width: 768px) {
  .u-wrapper {
    padding: 64px 30px;
  }
} 

.u-sectionTitle {
  color: #333333;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.u-sectionSubTitle {
  color: #333333;
  font-size: 18px;
  text-align: center;
  margin-bottom: 64px;
}

.u-button {
  display: block;
  background-color: #EC8812;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  padding: 16px 24px;
  font-size: 20px;
  width: 240px;
  text-align: center;
}

/*個別部品*/

.header {
  display: flex;
  justify-content: space-between;
  background-color: #188888;
  color: #ffffff;
  width: 100%;
}

.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 32px 100px;
}

@media screen and (max-width: 768px) {
  .header-inner {
    flex-direction: column;
  }
} 


.header-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header-title {
    text-align: center;
  }
} 

.header-navList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .header-navList {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
} 

.header-navItem {
  color: #ffffff;
  font-size: 16px;
}

.firstview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: url(../image/FV.png) no-repeat center / cover;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .firstview {
    height: 540px;
  }
} 

.firstview-title {
  margin: 0 auto;
  padding: 8px 32px;
  background-color: #ffffff;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.course-cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .course-cards {
    flex-direction: column;
  }
} 

.course-card {
  display: block;
  background-color: #ffffff;
  filter: drop-shadow(0 4px 15px rgba(51,51,51,0.25));
}

.course-cardImage {
  width: 100%;
  height: auto;
}

.course-textBox {
  padding: 24px;
}

.course-cardTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.course-cardText {
  font-size: 16px;
}

.news {
  background-color: #F1F8F8;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 64px;
}

.news-item {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .news-item {
    flex-direction: column;
  }
} 

.news-date {
  width: 22%;
  background-color: #188888;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 24px 24px;
}

@media screen and (max-width: 768px) {
  .news-date {
    width: 100%;
    padding: 8px 24px;
  }
} 

.news-description {
  width: 78%;
  background-color: #ffffff;
  padding: 24px 24px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .news-description {
    width: 100%;
    padding: 8px 16px;
  }
} 

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-label {
  margin-bottom: 8px;
  font-size: 16px;
}

.contact-input,
.contact-textarea {
  border: solid 1px #C4C4C4;
  padding: 10px;
  margin-bottom: 32px;
  font-size: 16px;
}

 .contact-textarea{
  min-height: 160px;
}

.footer {
  background-color: #188888;
  padding: 32px 100px;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

